<div class="user-list">
  <mat-card class="user-card" *ngFor="let user of (users$ | async)">
    <mat-card-title-group>
      <mat-card-title>{{ user.first_name }} {{ user.last_name }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
      <img [src]="user.avatar" alt="{{ user.first_name }}" class="avatar">
    </mat-card-title-group>

    <mat-card-actions>
      <button mat-button color="primary" (click)="viewUser(user.id)">View Details</button>
    </mat-card-actions>
  </mat-card>

  <mat-paginator [length]="totalPages * 6" [pageSize]="6" [pageSizeOptions]="[6]"
    (page)="onPageChange($event.pageIndex + 1)">
  </mat-paginator>
</div>
